header {
  text-align: center; 
}

body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.button-link {
  background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    text-decoration: none; 
}

button:hover {
    background-color: #4cae4c;
}

#allergie-liste {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.allergie-item {
    display: inline-block;
    background-color: #f0ad4e;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.hidden {
    display: none;
}

#ergebnis-bereich.sicher {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 15px;
    border-radius: 4px;
    margin-top: 15px;
}

#ergebnis-bereich.unsicher {
    background-color: #f2dede;
    color: #a94442;
    padding: 15px;
    border-radius: 4px;
    margin-top: 15px;
}

#gefundene-allergene {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 10px;
}

#gefundene-allergene li {
    color: #a94442;
}

.loesch-button {
    color: red;
    font-weight: bold;
}

#notfall-hinweise-button {
    background-color: #ff4d4d; /* Ein kräftiges Rot */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    margin-top: 10px; /* Etwas Abstand zum "Überprüfen"-Button */
    font-size: 1.1em; /* Etwas größer für das Symbol */
    animation: blinker 1.5s infinite alternate;
    border: 2px solid #ff4d4d;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

#notfall-hinweise-button:hover {
    background-color: #e03a3a; /* Ein etwas dunkleres Rot beim Hovern */
}

  @keyframes blinker {
    50% { opacity: 0.7; }
}
